<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neue Adresse hinzufügen</title>
    <script language=""
</head>
<body>
<form>
    <input type = "text"
           name="strasse"
           id = "strasse"
           placeholder="Straße"
           list = "streetnames"
           onchange="streetnameChange()"
    />

    <input type = "number" min = "1010" max="9999"
           name="plz"
           id = "plz"
           placeholder="PLZ"
    />

    <input type = "text"
           name="Ort"
           id = "ort"
           placeholder="ort"
    />

    <input type = "text"
           name="Bundesland"
           id = "bundesland"
           placeholder="bundesland"
    />
    <datalist id="states">
        <option value="Wien"/>
        <option value = "Niederösterreich"/>
        <option value = "Oberösterreich"/>
        <option value = "Salzburg"/>
        <option value = "Tirol"/>
        <option value = "Steiermark"/>
        <option value = "Burgenland"/>
        <option value = "Kärnten"/>

    </datalist>
</form>
</body>
</html>